<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="DP1 Tests" parallel="methods" thread-count="2">

    <test name="DP1 Tests">
        <parameter name="browser" value="${browser}"/>
        <parameter name="cucumber.filter.tags" value="${cucumber.filter.tags}" />
        <classes>
            <class name="org.veeva.runner.RunCucumberTestDP1"/>
        </classes>
    </test>
</suite>