<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Core Product Tests" parallel="tests" thread-count="2">

<test name="CP Tests">
    <parameter name="browser" value="${browser}"/>
    <parameter name="browser" value="chrome"/>
    <classes>
        <class name="org.veeva.core.runner.RunCucumberTestCP"/>
    </classes>
</test>

</suite>
